<div class="container">
  <%= link_to 'New product', new_admin_product_path, class: 'btn btn-success mb-3'%>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Brand</th>
        <th scope="col">Product name</th>
        <th scope="col">Produce description</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <%= render 'product_row', product: product %>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New product', new_admin_product_path, class: 'btn btn-success mt-3'%>
</div>
