.section-title {
  text-align: center;
  font-size: 36px;
}

.shoes {
  display: flex;
  flex-wrap: wrap;
}

.shoe {
  flex-basis: 25%;
  margin-bottom: 32px;
  text-align: center;
}

.button {
  color: #ff8f29;
  border: 1px solid #ff8f29;
  background: #ffffff;
  font-size: 16px;
  cursor: pointer;
}
