.product-name {
  color: #222;
}

.product-name a {
  color: #222;
}

.product-brand {
  color: #777;
}

.product-id {
  color: #777;
}

.product-price {
  color: green;
}

.product-detail .product-detail-info {
  flex: 0 0 300px;
}

.product-detail .product-description {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px #ddd solid;
}
